
/* COLOR PALETTE ---------------------------------- */
$graphite: #707071;
$black: #000000;
$purple: #6B408E;
$pink: #EF435E;
$turquoise: #00AE97;


/* UNIVERSAL COMPONENTS ---------------------------------- */

header{
  float: left;
  padding: 10px;
  position: fixed;
  background-color: white;

z-index: 100;
  a{
    float: left;
  }
  img{
    float: left;
  }
}/* CLOSES HEADER */

nav{
  float: left;
}

.dropdown-button{
  margin-top: 15px;
}

section{
  min-height: 100vh;
  float: left;
  padding-top: 10vh;
}

.image-container-right{
  padding-left: 5vw;
  margin-bottom: 25px;
  float: left;
  height: 50vh;
  overflow: hidden;
  position: relative;
  img{
    height: 100%;
    position: absolute;
  }
}

.image-container-left{
  padding-right: 5vw;
  float: left;
  height: 50vh;
  overflow: hidden;
  position: relative;
  img{
    height: 100%;
    position: absolute;
    right: 5vw;
  }
}

.copy-container-right{
  padding-left: 5vw;
  float: left;
  p{
      background-color: #f1f1f1;
      padding: 9vw;
  }
}

.copy-container-left{
  padding-right: 5vw;
  float: left;
  p{
      background-color: #f1f1f1;
      padding: 9vw;
  }
}


/* TYPOGRAPHY ---------------------------------- */

h1{
  font-family: itc-avant-garde-gothic-pro,sans-serif;
font-weight: 700;
font-style: normal;
float: left;
}

h2{
  font-family: itc-avant-garde-gothic-pro,sans-serif;
  font-weight: 300;
  font-style: normal;
  float: left;
  font-size: 45px;
  line-height: 45px;
  margin-top: 25px;
  margin-bottom: 35px;
}

a{
  font-family: itc-avant-garde-gothic-pro,sans-serif;
font-weight: 300;
font-style: normal;
}

.pink{
  color: $pink;
}

.turquoise{
  color: $turquoise;
}

.purple{
  color: $purple;
}

.graphite{
  color: $graphite;
}

.border-left-pink{
  border-left: solid 5vw $pink;
  padding-left: 10px;
}

.border-left-purple{
  border-left: solid 5vw $purple;
  padding-left: 10px;
}

.border-left-turquoise{
  border-left: solid 5vw $turquoise;
  padding-left: 10px;
}
