/* COLOR PALETTE ---------------------------------- */
/* UNIVERSAL COMPONENTS ---------------------------------- */
header {
  float: left;
  padding: 10px;
  position: fixed;
  background-color: white;
  height: 75px;
  z-index: 100; }
  header a {
    float: left; }
  header img {
    float: left;
    z-index: 210; }

/* CLOSES HEADER */
.toggle-display {
  display: block; }

.container-fluid {
  overflow: hidden; }

/* NAVIGATION ---------------------------------- */
nav {
  float: left;
  position: fixed;
  height: 92.5vh;
  background-color: rgba(255, 255, 255, 0.9);
  left: 0;
  top: 75px;
  z-index: 190;
  display: none; }
  nav ul li:nth-child(1) {
    animation-name: fade-in;
    animation-duration: 1s; }
  nav ul li:nth-child(2) {
    animation-name: fade-in;
    animation-duration: 1.5s; }
  nav ul li:nth-child(3) {
    animation-name: fade-in;
    animation-duration: 2s; }
  nav ul li:nth-child(4) {
    animation-name: fade-in;
    animation-duration: 2.25s; }
  nav ul {
    list-style: none;
    margin-top: 20vh; }
    nav ul li a {
      color: #707071;
      text-decoration: none;
      font-size: 30px;
      padding-top: 15px;
      padding-bottom: 15px; }
    nav ul li A:hover {
      color: #707071; }

/* CLOSES NAV */
#active {
  color: #EF435E;
  font-weight: 700;
  z-index: 200; }

/* CLOSES NAVIGATION ---------------------------------- */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-100px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }
.dropdown-button {
  margin-top: 15px; }

section {
  min-height: 100vh;
  float: left;
  padding-top: 10vh; }

.image-container-right {
  padding-left: 5vw;
  margin-bottom: 25px;
  float: left;
  height: 50vh;
  overflow: hidden;
  position: relative; }
  .image-container-right img {
    height: 100%;
    position: absolute; }

.image-container-left {
  padding-right: 5vw;
  float: left;
  height: 50vh;
  overflow: hidden;
  position: relative; }
  .image-container-left img {
    height: 100%;
    position: absolute;
    right: 5vw; }

.copy-container-right {
  padding-left: 5vw;
  float: left; }
  .copy-container-right p {
    background-color: #f1f1f1;
    padding: 9vw; }

.copy-container-left {
  padding-right: 5vw;
  float: left; }
  .copy-container-left p {
    background-color: #f1f1f1;
    padding: 9vw; }

/* TYPOGRAPHY ---------------------------------- */
h1 {
  font-family: itc-avant-garde-gothic-pro,sans-serif;
  font-weight: 700;
  font-style: normal;
  float: left; }

h2 {
  font-family: itc-avant-garde-gothic-pro,sans-serif;
  font-weight: 300;
  font-style: normal;
  float: left;
  font-size: 45px;
  line-height: 45px;
  margin-top: 25px;
  margin-bottom: 35px; }

h3 {
  font-family: itc-avant-garde-gothic-pro,sans-serif;
  font-weight: 700;
  font-style: normal;
  float: left;
  font-size: 24px;
  color: black; }

a {
  font-family: itc-avant-garde-gothic-pro,sans-serif;
  font-weight: 300;
  font-style: normal; }

.pink {
  color: #EF435E; }

.turquoise {
  color: #00AE97; }

.purple {
  color: #6B408E; }

.graphite {
  color: #707071; }

.border-left-pink {
  border-left: solid 5vw #EF435E;
  padding-left: 10px; }

.border-left-purple {
  border-left: solid 5vw #6B408E;
  padding-left: 10px; }

.border-left-turquoise {
  border-left: solid 5vw #00AE97;
  padding-left: 10px; }

/* PORTFOLIO ---------------------------------- */
@keyframes project-fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.portfolio-container {
  list-style: none;
  padding-left: 5vw;
  margin: 0; }
  .portfolio-container li:hover .project-details-container {
    display: block;
    opacity: 1;
    animation-name: project-fade-in;
    animation-duration: .5s; }
  .portfolio-container li {
    width: 90vw;
    height: 90vw;
    position: relative;
    margin-bottom: 10px; }
    .portfolio-container li img {
      position: absolute;
      height: 100%;
      width: auto;
      z-index: 0; }
    .portfolio-container li .project-details-container {
      height: 90%;
      width: 90%;
      background-color: white;
      position: absolute;
      z-index: 10;
      margin-top: 5%;
      margin-left: 5%;
      padding: 10%;
      display: none;
      opacity: 0; }
    .portfolio-container li p {
      float: left;
      margin-top: 10px; }
    .portfolio-container li a {
      margin-top: 10px;
      background-color: #EF435E;
      width: 100%;
      text-align: center;
      color: white;
      text-decoration: none;
      padding: 10px;
      float: left; }

/* CLOSES PORTFOLIO-CONTAINER */

/*# sourceMappingURL=style.css.map */
