/* COLOR PALETTE ---------------------------------- */
/* UNIVERSAL COMPONENTS ---------------------------------- */
header {
  float: left;
  padding: 10px;
  position: fixed;
  background-color: white;
  height: 50px;
  z-index: 100; }
  header .logo-link {
    max-width: 30px;
    height: auto; }
  header a {
    float: left; }
  header img {
    float: left;
    z-index: 210; }
  header .dropdown-container {
    float: right; }
  header .social {
    float: right;
    list-style: none;
    padding-left: 25px; }
    header .social li {
      float: left;
      font-size: 14PX;
      padding: 5px; }
      header .social li img {
        width: 25px;
        height: auto; }
  header .menu-toggle {
    float: right; }

/* CLOSES HEADER */
.toggle-display {
  display: block; }

.container-fluid {
  overflow: hidden; }

.action-link {
  font-size: 20px;
  font-weight: 400;
  text-decoration: none; }

.arrow {
  margin-left: 20px;
  height: 35px;
  transition: .5s; }

a:hover .arrow {
  transform: translateX(10px); }

/* NAVIGATION ---------------------------------- */
nav {
  float: left;
  position: fixed;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  left: 0;
  z-index: 190;
  display: none;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  top: 50px; }
  nav ul li:nth-child(1) {
    animation-name: fade-in;
    animation-duration: 1s; }
  nav ul li:nth-child(2) {
    animation-name: fade-in;
    animation-duration: 1.5s; }
  nav ul li:nth-child(3) {
    animation-name: fade-in;
    animation-duration: 2s; }
  nav ul li:nth-child(4) {
    animation-name: fade-in;
    animation-duration: 2.25s; }
  nav ul {
    list-style: none;
    margin-top: 20vh; }
    nav ul li {
      width: 100%; }
      nav ul li a {
        color: #707071;
        text-decoration: none;
        font-size: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%; }
      nav ul li a:hover {
        color: #707071; }

/* CLOSES NAV */
#active {
  color: #EF435E;
  font-weight: 700;
  z-index: 200; }

/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 3px;
  background: #ccc;
  float: left;
  position: fixed;
  left: 0;
  top: 50px; }

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 3px;
  background: #EF435E;
  width: 0%; }

/* CLOSES NAVIGATION ---------------------------------- */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-100px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }
.dropdown-button {
  margin-top: 5px; }

section {
  min-height: 100vh;
  float: left;
  padding-top: 50px; }

.image-container-right {
  padding-left: 5vw;
  margin-bottom: 25px;
  float: left;
  height: 50vh;
  overflow: hidden;
  position: relative;
  z-index: 10; }
  .image-container-right img {
    height: 100%;
    position: absolute; }

.image-container-left {
  padding-right: 5vw;
  float: left;
  height: 50vh;
  overflow: hidden;
  position: relative;
  z-index: 10; }
  .image-container-left img {
    height: 100%;
    position: absolute;
    right: 5vw; }

.copy-container-fold {
  float: left;
  position: absolute;
  bottom: 0;
  background-color: white;
  padding: 0;
  height: 50vh; }
  .copy-container-fold .link-container {
    float: left;
    background-color: #f1f1f1;
    height: 100%;
    padding-top: 75px; }
    .copy-container-fold .link-container a {
      padding: 15px;
      font-size: 20px;
      text-decoration: none;
      color: black;
      transition: .25s; }
    .copy-container-fold .link-container a:hover {
      color: #00AE97; }
  .copy-container-fold p {
    background-color: #f1f1f1;
    padding: 50px;
    height: 100%;
    font-size: 14px;
    float: left; }

.copy-container-right {
  padding-left: 5vw;
  float: left; }
  .copy-container-right p {
    background-color: #f1f1f1;
    padding: 9vw; }

.copy-container-left {
  padding-right: 5vw;
  float: left; }
  .copy-container-left p {
    background-color: #f1f1f1;
    padding: 9vw; }

/* TYPOGRAPHY ---------------------------------- */
h1 {
  font-family: itc-avant-garde-gothic-pro,sans-serif;
  font-weight: 700;
  font-style: normal;
  float: left;
  margin-top: 5vh;
  margin-bottom: 5vh; }

h2 {
  font-family: itc-avant-garde-gothic-pro,sans-serif;
  font-weight: 700;
  font-style: normal;
  float: left;
  font-size: 45px;
  line-height: 45px;
  margin-top: 25px;
  margin-bottom: 35px; }

h3 {
  font-family: itc-avant-garde-gothic-pro,sans-serif;
  font-weight: 700;
  font-style: normal;
  float: left;
  font-size: 24px;
  color: black; }

a {
  font-family: itc-avant-garde-gothic-pro,sans-serif;
  font-weight: 300;
  font-style: normal; }

.pink {
  color: #EF435E; }

.pink:hover {
  color: #EF435E; }

.turquoise {
  color: #00AE97; }

.turquoise:hover {
  color: #00AE97; }

.purple {
  color: #6B408E; }

.purple:hover {
  color: #6B408E; }

.graphite {
  color: #707071; }

.pink-bg {
  background-color: #EF435E !important;
  color: white; }

.purple-bg {
  background-color: #6B408E !important;
  color: white; }

.turquoise-bg {
  background-color: #00AE97 !important;
  color: white; }

.border-left-pink {
  border-left: solid 5vw #EF435E;
  padding-left: 10px; }

.border-left-purple {
  border-left: solid 5vw #6B408E;
  padding-left: 10px; }

.border-left-turquoise {
  border-left: solid 5vw #00AE97;
  padding-left: 10px; }

/* HOME ---------------------------------- */
#fold {
  position: relative;
  height: 100vh !important; }
  #fold .background-image {
    height: 50vh;
    width: auto;
    position: absolute; }

/* CLOSES HOME ---------------------------------- */
/* PORTFOLIO ---------------------------------- */
@keyframes project-fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.portfolio-container {
  list-style: none;
  padding-left: 5vw;
  margin: 0; }
  .portfolio-container li:hover .project-details-container {
    display: block;
    opacity: 1;
    animation-name: project-fade-in;
    animation-duration: .5s; }
  .portfolio-container li {
    width: 90vw;
    height: 90vw;
    position: relative;
    float: left;
    overflow: hidden; }
    .portfolio-container li img {
      position: absolute;
      height: 100%;
      width: auto;
      z-index: 0; }
    .portfolio-container li .project-details-container {
      height: 90%;
      width: 90%;
      background-color: white;
      position: absolute;
      z-index: 10;
      margin-top: 4%;
      margin-left: 4%;
      padding: 10%;
      display: none;
      opacity: 0; }
    .portfolio-container li p {
      float: left;
      margin-top: 10px; }
    .portfolio-container li a {
      margin-top: 10px;
      background-color: #EF435E;
      width: 100%;
      text-align: center;
      color: white;
      text-decoration: none;
      padding: 10px;
      float: left; }

/* CLOSES PORTFOLIO-CONTAINER */
@media (min-width: 768px) {
  header {
    height: 50px;
    padding-left: 5vw; }

  nav li {
    float: left;
    width: 100%; }

  #fold .background-image {
    width: auto;
    height: 70vh; }

  .copy-container-fold {
    float: left;
    position: absolute;
    bottom: 0;
    background-color: white;
    padding: 0;
    height: 30vh; }
    .copy-container-fold p {
      background-color: #f1f1f1;
      padding: 50px;
      height: 100%;
      font-size: 14px;
      float: left; }

  .portfolio-container li {
    width: 45vw;
    height: 45vw;
    padding: 10px; } }
/* CLOSES @MEDIA 768PX ---------------------------------- */
@media (min-width: 992px) {
  header {
    height: 50px;
    border-bottom: 1px solid lightgrey;
    padding-left: 50px;
    padding-right: 50px; }

  nav ul li:nth-child(1) {
    animation-name: none;
    animation-duration: 0; }
  nav ul li:nth-child(2) {
    animation-name: none;
    animation-duration: 0; }
  nav ul li:nth-child(3) {
    animation-name: none;
    animation-duration: 0; }
  nav ul li:nth-child(4) {
    animation-name: none;
    animation-duration: 0; }

  nav {
    display: block;
    position: relative;
    height: 100%;
    padding-top: 0;
    margin-top: 0;
    float: left;
    top: 0; }
    nav ul {
      list-style: none;
      margin-top: 0;
      padding-top: 0; }
      nav ul li {
        width: auto;
        float: left;
        padding-left: 15px;
        padding-right: 15px; }
        nav ul li a {
          color: #707071;
          text-decoration: none;
          font-size: 14px;
          padding: 0;
          margin-top: 5px;
          width: auto;
          float: left; }
        nav ul li a:hover {
          color: #707071; }

  section {
    padding-top: 30px; }

  .image-container-right {
    height: 92.5vh;
    float: right;
    padding-left: 2.5vw; }

  .image-container-left {
    height: 92.5vh;
    float: left;
    padding-left: 2.5vw; }

  .copy-container-left {
    padding-right: 0; }
    .copy-container-left p {
      padding-left: 6vw;
      padding-top: 4vw;
      padding-bottom: 4vw; }

  .copy-container-right {
    float: left;
    padding-left: 0; }
    .copy-container-right p {
      padding: 6vw; }

  h2 {
    margin-top: 10vh; }

  .action-link {
    margin-top: 2.5vh;
    margin-left: 6vw;
    float: left; }

  /* HOME ---------------------------------- */
  #fold {
    min-height: 100vh;
    overflow: hidden; }
    #fold .background-image {
      width: 100vw;
      height: auto; }

  .copy-container-fold {
    height: 170px; }

  /* CLOSES HOME ---------------------------------- */
  /* PORTFOLIO ---------------------------------- */
  @keyframes project-fade-in {
    from {
      opacity: 0; }
    to {
      opacity: 1; } }
  .portfolio-container {
    list-style: none;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 10vh;
    margin: 0; }
    .portfolio-container li:hover .project-details-container {
      display: block;
      opacity: 1;
      animation-name: project-fade-in;
      animation-duration: .5s; }
    .portfolio-container li {
      width: 30vw;
      height: 30vw;
      position: relative;
      margin-bottom: 10px;
      float: left;
      overflow: hidden; }
      .portfolio-container li img {
        position: absolute;
        height: 100%;
        width: auto;
        z-index: 0; }
      .portfolio-container li .project-details-container {
        height: 90%;
        width: 90%;
        background-color: white;
        position: absolute;
        z-index: 10;
        margin-top: 3.75%;
        margin-left: 3.75%;
        padding: 10%;
        display: none;
        opacity: 0; }
      .portfolio-container li p {
        float: left;
        margin-top: 10px; }
      .portfolio-container li a {
        margin-top: 10px;
        background-color: #EF435E;
        width: 100%;
        text-align: center;
        color: white;
        text-decoration: none;
        padding: 10px;
        float: left; }

  /* CLOSES PORTFOLIO-CONTAINER */ }
@media (min-width: 1024px) {
  section {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0; }

  .image-container-right {
    height: 100vh;
    float: right;
    padding-left: 0;
    margin: 0; }

  .image-container-left {
    height: 100vh;
    float: left; }
    .image-container-left img {
      left: 0; }

  .copy-container-left {
    padding-right: 2vw; }
    .copy-container-left p {
      padding-left: 6vw;
      padding-top: 4vw;
      padding-bottom: 4vw; }

  .copy-container-right {
    float: left;
    padding-right: 2vw; }
    .copy-container-right p {
      padding: 6vw; }

  h2 {
    margin-top: 10vh; } }

/*# sourceMappingURL=style.css.map */
