
/* COLOR PALETTE ---------------------------------- */
$graphite: #707071;
$black: #000000;
$purple: #6B408E;
$pink: #EF435E;
$turquoise: #00AE97;


/* UNIVERSAL COMPONENTS ---------------------------------- */

header{
  float: left;
  padding: 10px;
  position: fixed;
  background-color: white;
  height: 50px;
  z-index: 100;

  .logo-link{
    max-width: 30px;
    height: auto;
  }

  a{
    float: left;
  }
  img{
    float: left;
    z-index: 210;
  }

  .dropdown-container{
    float: right;
  }

  .social{
    float: right;
    list-style: none;
    padding-left: 25px;
    li{
      float: left;
      font-size: 14PX;
      padding: 5px;
      img{
        width: 25px;
        height: auto;
      }
    }
  }

  .menu-toggle{
    float: right;
  }
}/* CLOSES HEADER */

.toggle-display{
  display: block;
}

.container-fluid{
  overflow: hidden;
}

.action-link{
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
}

.arrow{
  margin-left: 20px;
  height: 35px;
  transition: .5s;
}

a:hover .arrow{
  transform: translateX(10px);
}


/* NAVIGATION ---------------------------------- */

nav{
  float: left;
  position: fixed;
  height: 100vh;
  background-color: rgba(255, 255, 255, .9);
  left: 0;
  z-index: 190;
  display: none;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  top: 50px;

  ul li:nth-child(1){
    animation-name: fade-in;
    animation-duration: 1s;
  }

  ul li:nth-child(2){
    animation-name: fade-in;
    animation-duration: 1.5s;
  }

  ul li:nth-child(3){
    animation-name: fade-in;
    animation-duration: 2s;
  }

  ul li:nth-child(4){
    animation-name: fade-in;
    animation-duration: 2.25s;
  }

  ul{
    list-style: none;
    margin-top: 20vh;
    li{
      width: 100%;
      a{
        color: $graphite;
        text-decoration: none;
        font-size: 30px;
        padding-top: 15px;
        padding-bottom: 15px;
        width: 100%;
      }
      a:hover{
        color: $graphite;
      }
    }
  }
}/* CLOSES NAV */

#active{
  color: $pink;
  font-weight: 700;
  z-index: 200;
}




/* The progress container (grey background) */
.progress-container {
  width: 100%;
  height: 3px;
  background: #ccc;
  float: left;
  position: fixed;
  left: 0;
  top: 50px;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 3px;
  background: $pink;
  width: 0%;
}

/* CLOSES NAVIGATION ---------------------------------- */

@keyframes fade-in{
  from{
    opacity: 0; transform: translateX(-100px);
  }
  to{
    opacity: 1; transform: translateX(0px);
  }
}

.dropdown-button{
  margin-top: 5px;
}

section{
  min-height: 100vh;
  float: left;
  padding-top: 50px;
min-height: 800px;
}

.image-container-right{
  padding-left: 5vw;
  margin-bottom: 25px;
  float: left;
  height: 50vh;
  overflow: hidden;
  position: relative;
  z-index: 10;
  img{
    height: 100%;
    position: absolute;
  }
}



.image-container-left{
  padding-right: 5vw;
  float: left;
  height: 50vh;
  overflow: hidden;
  position: relative;
  z-index: 10;
  img{
    height: 100%;
    position: absolute;
    right: 5vw;
  }
}

.portfolio-image-container{
  padding: 0;
  .asset-container{
      box-shadow: 0px 0px 5px #DBDADA;
      height: 20vh;
      background-color: white;
      padding: 0;
      border: 1px solid white;
      position: relative;



      .color-palette{
        position: absolute;
        height: 65%;
        width: 80%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }

  }

  img{
    height: 100%;
    width: auto;
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  .text{
    height: 100%;
    width: 100%;
    background-color: $graphite;
    opacity: 0;
    z-index: 1;
    position: absolute;
    transition: .25s;
    padding: 5%;
    h3{
      color: white;
    }
    p{
      color: white;
    }
  }


.asset-container:hover{
  .text{
    opacity: 1;
  }
}
}


.color-palette{
  position: relative;
}

.color-palette:hover{
  .text{
    opacity: 1;
  }
}


.copy-container-fold{
  float: left;
  position: absolute;
  bottom: 0;
  background-color: white;
  padding: 0;


.link-container{
  float: left;
  background-color: #f1f1f1;
  height: 100%;
  padding-top: 75px;
  a{
    padding: 15px;
    font-size: 20px;
    text-decoration: none;
    color: black;
    transition: .25s;
  }

  a:hover{
    color: $turquoise;
  }
}

  p{
      background-color: #f1f1f1;
      padding: 50px;
      font-size: 14px;
      float: left;
  }
}

.copy-container-right{
  padding-left: 5vw;
  float: left;
  p{
      background-color: #f1f1f1;
      padding: 9vw;
  }
}

.copy-container-left{
  padding-right: 5vw;
  float: left;
  p{
      background-color: #f1f1f1;
      padding: 9vw;
  }
}


/* TYPOGRAPHY ---------------------------------- */

h1{
  font-family: itc-avant-garde-gothic-pro,sans-serif;
font-weight: 700;
font-style: normal;
float: left;
margin-top: 5vh;
margin-bottom: 5vh;
}

h2{
  font-family: itc-avant-garde-gothic-pro,sans-serif;
  font-weight: 700;
  font-style: normal;
  float: left;
  font-size: 45px;
  line-height: 45px;
  margin-top: 25px;
  margin-bottom: 35px;
}

h3{
  font-family: itc-avant-garde-gothic-pro,sans-serif;
  font-weight: 700;
  font-style: normal;
  float: left;
  font-size: 24px;
  color: black;
}

p{
  font-family: itc-avant-garde-gothic-pro,sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 14px;
}

a{
  font-family: itc-avant-garde-gothic-pro,sans-serif;
font-weight: 300;
font-style: normal;
}

.pink{
  color: $pink;
}

.pink:hover{
  color: $pink;
}

.turquoise{
  color: $turquoise;
}

.turquoise:hover{
  color: $turquoise;
}

.purple{
  color: $purple;
}

.purple:hover{
  color: $purple;
}

.graphite{
  color: $graphite;
}

.pink-bg{
  background-color: $pink!important;
  color: white;
}

.purple-bg{
  background-color: $purple!important;
  color: white;
}

.turquoise-bg{
  background-color: $turquoise!important;
  color: white;
}

.border-left-pink{
  border-left: solid 5vw $pink;
  padding-left: 10px;
}

.border-left-purple{
  border-left: solid 5vw $purple;
  padding-left: 10px;
}

.border-left-turquoise{
  border-left: solid 5vw $turquoise;
  padding-left: 10px;
}


/* HOME ---------------------------------- */
#fold{
  position: relative;
  float: left;


.background-image{
  height: 50vh;
  width: auto;
  position: absolute;
}

}

/* CLOSES HOME ---------------------------------- */





/* PORTFOLIO ---------------------------------- */

@keyframes project-fade-in{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}


.portfolio-container{
  list-style: none;
  padding-left: 5vw;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  float: left;

  li{
    overflow: hidden;
    padding: 5px;
    width: 90vw;
    height: 90vw;
    position: relative;
    float: left;
    overflow: hidden;
    transition: 1s;

    .padding-container{
      float: left;
      height: 100%;
      width: 100%;
        position: relative;
    }
.inside-container{
      float: left;
    }

    .project-image-container{
      height: 100%;
      width: 100%;
      overflow: hidden;
    position: absolute;
    background-color: #f1f1f1;
    }
    img{
      position: absolute;
      height: 100%;
      width: auto;
      z-index: 0;
    }
    .project-details-container{
      height: 30%;
      margin-top:70%;
      width: 100%;
      background-color: white;
      position: absolute;
      z-index: 10;
      display: none;
      opacity: 0;

    }

    p{
      float: left;
  padding-left: 10px;
  font-size: 10px;
    }
    h5{
      padding: 10px;
      float: left;
      margin: 0;
      font-size: 16px;
    }

    a{
      height: 100%;
      background-color: $pink;
      text-align: center;
      color: white;
      text-decoration: none;
      padding: 10px;
      float: left;
      position: relative;
      img{
        float: left;
        width: auto;
        height: 45%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }

  } /* CLOSES LI */




  img{
    transition: 1s;
  }

  li:hover{
    .padding-container{
    box-shadow: 0px 0px 5px #DBDADA;
    }
    .project-details-container{
      display: block;
      opacity: 1;
      animation-name: project-fade-in;
      animation-duration: .5s;
      overflow: hidden;
    }
.project-image-container
img{
  transform: scale(.65);

}
  }
}/* CLOSES PORTFOLIO-CONTAINER */


.color-container{
  height: 100%;
  width: 25%;
  float: left;
  border: 5px solid white;

}


.padding-container-2{
  padding: 5%;
  width: 80%;
  height: 100%;
  float: left;
}

.pink-link{
  height: 100%;
  width: 20%;
  background-color: $pink;
  float: left;
  position: relative;
  img{
    width: 45px!important;
    height: auto;
    position: absolute;
    transition: .25s;
  }
}

.pink-link:hover{
  img{
    transform: scale(1.2);
  }
}

.container-right{
  float: left;
  padding: 0;
  ul{
    list-style: none;
    float: left;
    padding: 0;
    li{
      float: left;
      border: 1px solid white;
      height: 33.33vh;
      overflow: hidden;
      img{
        transition: .5s;
      }
    }
    li:hover{
      img{
        transform: scale(1.2);
      }
    }
  }
}


/* BSRE COLORS */

.bsre-black{
background-color: #333033
}
.bsre-green{
background-color: #c6d33a
}
.bsre-turquoise{
background-color: #22ac9b;
}
.bsre-orange{
background-color: #e26d39;
}


@media(min-width: 768px){

header{
  height: 50px;
  padding-left: 5vw;
}

nav{
  li{
    float: left;
    width: 100%;
  }
}


#fold{
  .background-image{
    width: auto;
    height: 70vh;
    float: left;
  }
}

.copy-container-fold{
  float: left;
  position: absolute;
  bottom: 0;
  background-color: white;
  padding: 0;


  p{
      background-color: #f1f1f1;
      padding: 50px;
      font-size: 14px;
      float: left;
  }
}



.portfolio-container{
  li{
    width: 45vw;
    height: 45vw;
    padding: 5px;
  }
}

}/* CLOSES @MEDIA 768PX ---------------------------------- */

@media (min-width: 992px){

  header{
    height: 50px;
    border-bottom: 1px solid lightgrey;
    padding-left: 50px;
    padding-right: 50px;
  }

nav{
  ul li:nth-child(1){
    animation-name: none;
    animation-duration: 0;
  }

  ul li:nth-child(2){
    animation-name: none;
    animation-duration: 0;
  }

  ul li:nth-child(3){
    animation-name: none;
    animation-duration: 0;
  }

  ul li:nth-child(4){
    animation-name: none;
    animation-duration: 0;
  }
}

nav{
  display: block;
  position: relative;
  height: 100%;
  padding-top: 0;
  margin-top: 0;
  float: left;
  top: 0;
  ul{
    list-style: none;
    margin-top: 0;
    padding-top: 0;
    li{
      width: auto;
      float: left;
      padding-left: 15px;
      padding-right: 15px;
      a{
        color: $graphite;
        text-decoration: none;
        font-size: 14px;
        padding: 0;
        margin-top: 5px;
        width: auto;
        float: left;

      }
      a:hover{
        color: $graphite;
      }
    }
  }
}





  section{
    padding-top: 30px;
  }

  .image-container-right{
    height: 92.5vh;
    float: right;
    padding-left: 2.5vw;
  }

  .image-container-left{
    height: 92.5vh;
    float: left;
    padding-left: 2.5vw;
  }



  .copy-container-left{
    padding-right: 0;
    p{
      padding-left: 6vw;
      padding-top: 4vw;
      padding-bottom: 4vw;
    }
  }

  .copy-container-right{
    float: left;
    padding-left: 0;
    p{
      padding: 6vw;
    }
  }

h2{
  margin-top: 10vh;
}

.action-link{
  margin-top: 2.5vh;
  margin-left: 6vw;
  float: left;
}

/* HOME ---------------------------------- */
#fold{
  min-height: 100vh;
  overflow: hidden;
.background-image{
  width: 100vw;
  height: auto;
  bottom: -10vh;
}
}

.copy-container-fold{
  height: 170px;
}

/* CLOSES HOME ---------------------------------- */

/* PORTFOLIO ---------------------------------- */

@keyframes project-fade-in{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.portfolio-container{
  list-style: none;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 10vh;
  margin: 0;

  li:hover{
    .project-details-container{
      display: block;
      opacity: 1;
      animation-name: project-fade-in;
      animation-duration: .5s;
    }
  }

  li{
  width: 30vw;
  height: 30vw;
  position: relative;
  float: left;
  overflow: hidden;
  padding: 5px;

.project-image-container{
  height: 100%;
  width: 100%;
  overflow: hidden;
position: absolute;
}

  img{
    position: absolute;
    height: 100%;
    width: auto;
    z-index: 0;
  }
h5{
  float: left;
  padding: 25px;
}
  p{
    float: left;
    margin-top: 0px;
    padding-left: 25px;
  }

}
}/* CLOSES PORTFOLIO-CONTAINER */




.portfolio-image-container{
    padding-top: 5vh;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;

  .asset-container{
    height: 25vh;
    margin-top: 15px;
    background-color: white;
      padding: 0;
      border: 1px solid white;

  }

  img{
    height: 100%;
    width: auto;
  }
}


}



@media (min-width: 1024px){

section{
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
}

    .image-container-right{
      height: 100vh;
      float: right;
      padding-left: 0;
      margin: 0;
    }

    .image-container-left{
      height: 100vh;
      float: left;
      img{
left: 0;
      }
    }


    .copy-container-left{
      padding-right: 2vw;
      p{
        padding-left: 6vw;
        padding-top: 4vw;
        padding-bottom: 4vw;
      }
    }

    .copy-container-right{
      float: left;
      padding-right: 2vw;
      p{
        padding: 6vw;
      }
    }

  h2{
    margin-top: 10vh;
  }


}

@media(min-width: 1200px){
  #fold{
    height: 100vh;
    overflow: hidden;

    .copy-container{
      height: 100%;
    }
  }
  section{
    min-height: 100vh;
  }
}
